/* colors */
:root {
  --primary-color: #c72727;
  --primary-hover-color: #ea3636;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1200px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

/* reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* element styling */
body {
  font-family: "Lato", sans-serif;
  background-color: var(--light-color);
  line-height: 1.5;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
}

/* Utility classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports {
  background: var(--sports-color);
}

.category-ent {
  background: var(--ent-color);
}

.category-tech {
  background: var(--tech-color);
}

.btn {
  background: var(--dark-color);
  color: white;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-style: none;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn-light {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn:hover {
  opacity: 0.9;
}

.card {
  background: white;
  padding: 1rem;
}

.bg-dark {
  background: var(--dark-color);
  color: white;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: white;
}

.bg-primary {
  background: var(--primary-color);
  color: white;
}

.bg-secondary {
  background: var(--secondary-color);
  color: white;
}

/* padding for y axis */
.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* padding for all around */
.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* inner page container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / 3;
}

/* navbar */
#navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#navbar .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#navbar .logo {
  width: 180px;
}

#navbar ul {
  display: flex;
  justify-self: end;
}

#navbar ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#navbar ul li a.current {
  background-color: var(--primary-color);
  color: white;
}

#navbar ul li a:hover {
  background-color: var(--light-color);
}

#navbar ul li a.current:hover {
  background-color: var(--primary-hover-color);
}

#navbar .social {
  justify-self: center;
}

#navbar .social i {
  color: gray;
  margin-right: 0.5rem;
}

/* showcase */
#showcase {
  color: white;
  background-color: var(--dark-color);
  padding: 2rem;
  position: relative;
}

#showcase::before {
  content: "";
  background: url(../img/featured.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* home articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / 3;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / 4;
}

/* Footer */
#footer {
  background-color: var(--dark-color);
  color: white;
}

#footer img {
  width: 150px;
}

#footer a {
  color: white;
}

#footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#footer .footer-container > *:last-child {
  background-color: #444;
  grid-column: 1/5;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.85rem;
}

#footer .footer-container input[type="email"] {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  width: 90%;
}

#footer .footer-container input[type="submit"] {
  width: 90%;
}
